---
import HorizontalCard from "@/components/Old/HorizontalCard.astro";
import {StoryblokStoryManager} from "@/scripts/storyBlokUtil";
import Layout from "@/layouts/Layout.astro";

const ssm = new StoryblokStoryManager();

let collection = await ssm.createCollectionLists('blog');

const staticImageWidth = 300
---
<Layout title="Blog posts">
    {collection.length === 0 ? (
        <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
            <p class="font-bold">Sorry!</p>
            <p>Er zijn nog geen {collection} gepost</p>
        </div>
    ) : (
        <ul class="subcontainer_list">
            {collection.map((post) => {
                return (
                        <HorizontalCard
                                title={post.title}
                                tags={post.tags}
                                img={post.image.filename}
                                imageAlt={post.image.filename}
                                imageWidth={staticImageWidth}
                                desc={post.description}
                                url={post.slug}
                                target="_self"
                                badge={post.badge}
                        />
                );
            })}
        </ul>
        )
    }
</Layout>
<style>
    .subcontainer_list {
        padding: 0;
    }
</style>