---

import { useStoryblokApi } from '@storyblok/astro'
import HorizontalCard from "@/components/HorizontalCard.astro";
import BentoLayoutContentMedium from '@/layouts/BentoLayoutContentMedium.astro';
import { getRezAndAspectFromStoryAssetFilename } from "@/scripts/storyBlokUtil";
const storyblokApi = useStoryblokApi()

const collection = 'blog';
interface story {
  name: string;
  full_slug: string;
  content: {
    badge: string;
    description: string;
    heroImage: string;
  }
  published_at: string;
  tag_list: string[];
}
const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: `${collection}/`,
  is_startpage: false
})

const pages = data.stories.map((story:story) => {
  return {
    badge: story.content.badge,
    title: story.name,
    slug: story.full_slug,
    description: story.content.description,
    image: story.content.heroImage,
    date: story.published_at,
    tags: story.tag_list,
  }
})
interface post {
  title: string;
  badge: string;
  tags: string[];
  image: {
    filename: string;
    alt: string;
    height?: number;
    width?: number;
  };
  description: string;
  slug: string;
}

const staticImageWidth = 300
---
<BentoLayoutContentMedium>
{pages.map((page) => {

  <div class="mb-5">
    <div class="text-5xl w-full font-bold text-rst__primary dark:text-rst__accent">{collection}</div>
  </div>

  {
    page.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">Sorry!</p>
        <p>Er zijn nog geen {collection} gepost</p>
      </div>
    ) : (
    <ul>
  {page.map((post: post) => {
      const imageData = getRezAndAspectFromStoryAssetFilename(post.image.filename)
      const newHeight = imageData.aspectRatio * staticImageWidth;

    return (
      <>
        <HorizontalCard
          title={post.title}
          badge={post.badge}
          tags={post.tags}
          img={post.image.filename}
          imageAlt={post.image.alt}
          imageWidth={staticImageWidth}
          imageHeight={newHeight}
          desc={post.description}
          url={post.slug}
          target="_self"
          badge={post.badge}
        />
      </>
    );
  })}
</ul>
    )
  }

})}
</BentoLayoutContentMedium>