---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalShopItem from "@/components/HorizontalShopItem.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const items = await getCollection("winkel");
  items.sort((a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf());
  return paginate(items, { pageSize: 10 });
}


const { page }: { page: PageProps } = Astro.props;
---

<BaseLayout title="winkel" sideBarActiveItemID="winkel">
  <ul>
    {
      page.data.map((item: { data: { title: any; heroImage: any; heroImageAlt: any; description: any; pricing: any; oldPricing: any; checkoutUrl: any; badge: any; details: any; tags: any; custom_link: any; custom_link_label: any; }; slug: string; }) => (
        <>
          <HorizontalShopItem
            title             = {item.data.title}
            img               = {item.data.heroImage}
            imgAlt            = {item.data.heroImageAlt}
            desc              = {item.data.description}
            pricing           = {item.data.pricing}
            oldPricing        = {item.data.oldPricing}
            checkoutUrl       = {item.data.checkoutUrl}
            badge             = {item.data.badge}
            details           = {item.data.details}
            tags              = {item.data.tags}
            url               = {"/winkel/" + item.slug}
            custom_link       = {item.data.custom_link}
            custom_link_label = {item.data.custom_link_label}
          />
          <div class="divider my-0" />
        </>
      ))
    }
  </ul>

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          {" "}<i class="fas fa-chevron-left" title="Vorige pagina"/>{" "}Vorige pagina
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Volgende pagina{" "}<i class="fas fa-chevron-right" title="Volgende pagina"/>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>
