---
const {title,description,icon_url,icon_size,className} = Astro.props;
// noinspection ES6UnusedImports
import {Image} from "astro:assets";
---
<div class:list={["expanded__detail_card", className]}>
    <Image 
            class="icon"
            src={icon_url}
            alt={title}
            width={icon_size}
            height={icon_size}    
    />

    <div class="content">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>
<style>
    .expanded__detail_card {
        width: 15rem;
        height: 8rem;
        background-color: var(--background__base);
        text-align: center;
        border: 10px solid var(--background__base);
        border-radius: 20px;
        box-shadow: var(--shadowstyle__base-in);
        transition: 0.5s;
    }

    .expanded__detail_card:hover {
        height: 100%;
    }

    .icon {
        width: 80px;
        height: 80px;
        color: red;
        font-size: 30px;
        margin: 20px auto;
        padding: 5px;
        border-radius: 50%;
        box-shadow: var(--shadowstyle__base);
    }

    .content {
        background-color: var(--background__base);
        padding: 10px;
        margin: 5px 20px;
        border-radius: 8px;
        box-shadow: var(--shadowstyle__base);
        transform: translateY(-80px) scale(0);
        transition: all 0.5s;
    }

    .expanded__detail_card:hover .content {
        transform: translateY(0) scale(1)
    }

</style>