---
import {stringToHexColor, contrastColor} from '@/scripts/colortools.ts';
import {toSentenceCase, CapitalizeFirst} from '@/scripts/stringConverters.ts';
const {title, company, text, location, category} = Astro.props;

const categoryBackgroundColor = stringToHexColor(category);
const categoryTextColor = contrastColor(categoryBackgroundColor);
const categoryText = CapitalizeFirst(toSentenceCase(category));
---
<figure class="card">
    <div class="card__in_box">
        {company ? (
            <h3 class="card__company-title">{company}</h3>
            <div class="card__job-title">{title}</div>
        ) : (
             <h3 class="card__job-title">{title}</h3>
         )}
        {text ? <p class="card__text">{text}</p> : null}
        <p class="card__text card__text--justified"></p>
        {category &&
         <div
             class="card__category"
         >
             {categoryText}
         </div>
        }
        {location &&
         <div class="card__location">{location}</div>}
    </div>
</figure>

<style define:vars={{categoryBackgroundColor, categoryTextColor}}>
    .card__in_box {
        margin        : 0.05rem;
        padding       : 1rem 1rem 0 1rem;
        border-radius : 0.5rem;
        box-shadow    : var(--shadowstyle__base-in)
    }

    .card {
        color         : hsl(var(--color__text));
        padding       : 1rem 1rem 0.5rem 1rem;
        margin        : 1rem 0 2rem 0.5rem;
        position      : relative;
        border-radius : 1rem;
        box-shadow    : var(--shadowstyle__base);
        transition    : all 0.3s ease-in-out;
    }

    .card:hover {
        transform  : scale(1.05);
        box-shadow : var(--shadowstyle__base);
    }

    .card__company-title,
    .card__job-title {
        font-size : 1rem;
    }

    .card__company-title {
        font-weight : 600;
    }

    .card__job-title {
        font-weight : 300;
    }

    .card__text {
        font-size     : 0.8rem;
        font-weight   : 100;
        margin-top    : 0.5rem;
        margin-bottom : 1.25rem;
    }

    .card__category,
    .card__location {
        position      : absolute;
        bottom        : 0;
        padding-right : 1.5rem;
        padding-left  : 1.5rem;
    }

    .card__category {
        left : 0;
    }

    .card__location {
        right : 0;
    }
</style>