---
import {stringToHexColor, contrastColor } from '@/scripts/colortools.ts';
import{ toSentenceCase, CapitalizeFirst } from '@/scripts/stringConverters.ts';
const { title, company, text, location, category } = Astro.props;
const categoryBackgroundColor = stringToHexColor(category);
const categoryTextColor = contrastColor(categoryBackgroundColor);
const categoryText = CapitalizeFirst(toSentenceCase(category));
---

<figure class="
  w-full
  p-5
  m-5
  relative
  rounded-2xl
  hover:shadow-4xl hover:scale-[105%]
  backdrop-blur-lg
  shadow-lg
  border
  border-base-300
  transition
  ease-in-out"
>
{company ? (
  <>
    <h3 class='font-semibold underline'>{company}</h3>
    <div class='font-light'>{title}</div>
  </>
) : (
  <>
    <h3 class='font-semibold underline'>{title}</h3>
  </>
)}
{text ? <p class=''>{text}</p> : null}
<p class='mt-3 mb-5 text-justify'>
</p>
{category && <div class='
  absolute
  bottom-0
  left-0
  pr-6
  pl-6
  p-2
  text-xs
  rounded-br-none
  rounded-tl-none
  rounded-tr-xl
  rounded-bl-2xl
  '
  style={`
    background-color: ${categoryBackgroundColor};
    color: ${categoryTextColor};`
    }>{categoryText}
</div>}
{location && <div class='
  absolute
  bottom-0
  right-0
  pr-6
  pl-6
  p-2
  bg-gray-900
  text-xs
  rounded-br-2xl
  rounded-tr-none
  rounded-bl-none
  rounded-tl-xl
  '
  >{location}
</div>}
</figure>nw/starry-star/src/scripts/colortoolsnw/starry-star/src/scripts/stringConvertersnw/starry-star/src/scripts/colortoolsnw/starry-star/src/scripts/stringConverters