---
import TimeLineTextBlok from './TimeLineTextBlok.astro'
const {title, company, startDate, endDate, location, text, link, category, classname} =
    Astro.props;
function displayDate(startDate: Date | null, endDate: Date | null) {
    const options = {year: 'numeric', month: 'long'};
    if (endDate === null) {
        return startDate ? new Date(startDate).toLocaleDateString('nl-NL', options as Intl.DateTimeFormatOptions) : '';
    }
    const inTheFuture = new Date();
    inTheFuture.setFullYear(inTheFuture.getFullYear() + 1);
    if (new Date(endDate) > inTheFuture) {
        return 'huidig';
    }
    return new Date(endDate).toLocaleDateString('nl-NL', options as Intl.DateTimeFormatOptions);
}
---
<div class={`${classname} flex`}>
    <div
        class="education__time education__time--mr10 font-light education__time--translate"
        data-date={displayDate(startDate, endDate)}
    >
    </div>
    <div class="experience__data bd-grid experience__data--px5 experience__data--wfull timeline__element_animation">
        {
            link ? (
                <a href={link} target="_blank">
                    <TimeLineTextBlok
                        title={title} company={company} location={location} text={text}
                        category={category}
                    />
                </a>
            ) : (
                <TimeLineTextBlok
                    title={title} company={company} location={location} text={text}
                    category={category}
                />
            )
        }
    </div>
</div>
<style>
    .flex {
        display : flex;
    }


    .education__time--translate {
        transform : translateY(60px);
    }

    .education__time {
        position  : relative;
        font-size : 1rem;
        width     : 0;
    }

    .education__time::before {
        content     : attr(data-date);
        position    : absolute;
        left        : 4rem;
        top         : -3rem;
        white-space : nowrap;
    }

    .education__time--primary {
        background-color : #6366f1;
    }

    .experience__data--px5 {
        padding-left  : 1.25rem;
        padding-right : 1.25rem;
    }

    .experience__data--wfull {
        width : 100%;
    }
</style>