---
const { title, company, text, location } = Astro.props;

---
  <>
    <h3 class='font-semibold mb-1'>{title}</h3>
    {company && location ? <span class='font-light text-sm'>{company} | {location}</span>
    : company ? <span class='font-light text-sm'>{company}</span>
    : <span class='font-light text-sm'>{location}</span>}
    {text ? <p class=''>{text}</p>: null}
    <p class='my-2 text-justify'>
      <slot />
    </p>
  </>