---
import TimeLineTextBlok from './TimeLineTextBlok.astro'
const { title, company, startDate, endDate, location, text, link, category, classname } =
Astro.props;
function displayDate(startDate: Date | null, endDate: Date | null) {
  const options = { year: 'numeric', month: 'long' };

  if (endDate === null) {
    return startDate ? new Date(startDate).toLocaleDateString('nl-NL', options as Intl.DateTimeFormatOptions) : '';
  }

  const inTheFuture = new Date();
  inTheFuture.setFullYear(inTheFuture.getFullYear() + 1);

  if (new Date(endDate) > inTheFuture) {
    return 'huidig';
  }

  return new Date(endDate).toLocaleDateString('nl-NL', options as Intl.DateTimeFormatOptions);
}
---

<div class={`flex ${classname} `}>
  <div
    class='education__time mr-10 font-light translate-y-[60px]'
    data-date={displayDate(startDate, endDate)}
  >
    <span class='w-4 h-4 bg-primary block rounded-full mt-1 '/>
    <span class='education__line bg-primary block h-full'/>
  </div>
  <div class='experience__data bd-grid px-5 timeline__element_animation
  w-full'>
    {
      link ? (
        <a href={link} target='_blank'>
          <TimeLineTextBlok title={title} company={company} location={location} text={text} category={category} />
        </a>
      ) : (
        <TimeLineTextBlok title={title} company={company} location={location} text={text} category={category} />
      )
    }
  </div>
</div>
<style>
  .education__time {
    position: relative;
  }
  .education__time::before {
    content: attr(data-date);
    position: absolute;
    left: 1.2em;
    top: -1%;
    white-space: nowrap;
  }

  .education__line {
  height: 100%;
  width: 2px;
  --tw-translate-x: 7px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  /* animation: timeline_line_Animation both linear;
  animation-timeline: view();
  animation-range: cover 20% cover 50%; */
  }

  .timeline__element_animation {
    animation: timeline_card_Animation both linear;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
  }

  @keyframes timeline_line_Animation {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }



  @keyframes timeline_card_Animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
