---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from "astro:assets"

const { blok } = Astro.props
const imageUrl = blok.isAnimating ? blok.imageAsset.filename : `${blok.imageAsset.filename}/m/0x${blok.maxSize}/filters:format(webp)`;
---
<div
  {...storyblokEditable(blok)}
  class="relative"
>
  <Image
    loading = "eager"
    decoding= "sync"
    width   = {blok.maxSize}
    height  = {blok.maxSize}
    src     = {imageUrl}
    alt     = {blok.imageAsset.alt || "Hero Image"}
    class   = "rounded-2xl border border-base-300 shadow-2xl"
  />
  {blok.subText && <div class="absolute bottom-0 inset-x-0 bg-black bg-opacity-70 text-center text-base-500 p-2 rounded-b-2xl shadow-2xl">{blok.subText}</div>}
</div>