---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BadgeComponent from "@/components/vue/badge.vue"
import { Image } from "astro:assets"
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<BaseLayout title={blok.title} description={blok.metadata.description} image={blok.heroImage}>
  <main class="md:flex md:justify-center" {...storyblokEditable(blok)}>
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
        <Image
            width   = {750}
            height  = {422}
            src     = {blok.heroImage+"/m/0x1024/filters:format(webp)"}
            alt     = {blok.title}
            class   = "w-full mb-6"
          />
      <h1 class="title my-2 text-4xl font-bold">{blok.title}</h1>
      {blok.pubDate && <time>{blok.postDate}</time><br />}
      {blok.badge &&<BadgeComponent client:idle text={blok.badge} v-if={blok.badge} classes="my-2" /><br/>}
      {blok.updatedDate && (<div class="text-sm">{" "}Laatst Geupdated: <time>{blok.editDate}</time>{" "}</div><br/>)}
      {blok.tags && blok.tags.map((tag: string) => <BadgeComponent client:idle text={tag} classes="my-1 mr-2" outline="true" />) }
      <div class="divider my-2"></div>
      {
        blok.blokken?.map((blok) => {
          return <StoryblokComponent blok={blok} />
        })
      }
    </article>
  </main>
</BaseLayout>