---
import SideBarFooter from './SideBarFooter.astro';
import { Image } from 'astro:assets';
import { PERSOONLIJKE_INFO } from '@/config.ts';
import SideBarMenu from './SideBarMenu.astro';
const { sideBarActiveItemID } = Astro.props;
const imageHeight = 300;
const imageWidth = 300;
---

<div class='w-fit mx-auto mt-5 mb-6'>
  <a href='/' style="font-size: 0;">
    <div class='avatar transition ease-in-out hover:scale-[102%] block m-auto'>
      <div class='w-[12rem] rounded-full shadow-2xl'>
        <Image
          class='mask mask-circle'
          width={imageWidth}
          height={imageHeight}
          src={`${PERSOONLIJKE_INFO.profielfoto}/m/0x200/filters:quality(80):format(webp)`}
          alt=`Profielfoto van ${PERSOONLIJKE_INFO.Voornaam} ${PERSOONLIJKE_INFO.Achternaam}`
        />
      </div>
    </div>
    avatar
  </a>
</div>
<SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
<SideBarFooter />nw/starry-star/src/confignw/starry-star/src/config