---
import {CONTACT_METHODS} from "src/config";
const { menu = CONTACT_METHODS } = Astro.props
---
<div
  class='block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]'
>
</div>

<div
  class='social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200'
>
  {menu.map(item => (
    <a
      href={item.url}
      target='_blank'
      class='mx-3'
      aria-label={item.ariaLabel}
      title={item.titel}
      ><i class={item.icon}/>
    </a>
  ))}
  <a
    href='/rss.xml'
    target='_blank'
    class='mx-3'
    aria-label='RSS Feed'
    title='RSS Feed'
    ><i class='fas fa-rss'></i>
  </a>
</div>
