---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TimeLineElement from "@/components/cv/TimeLine.astro";
import HideClassButton from "@/components/cv/HideClassButton.astro";

import skills from "@/skills.json";
// Filter the array to only include objects where timelineObject is true

const processSkills = (skills: any[], timelineEnabled: boolean) => {
    // Filter the array to only include objects where timelineElement matches timelineEnabled
    const timelineElements = skills.filter((skill: timelineElement) => {
      return timelineEnabled ? skill.timeline_element === true : skill.timeline_element === false || skill.timeline_element === undefined;});
      timelineElements.sort((a, b) => {return new Date(b.start_date).getTime() - new Date(a.start_date).getTime();
    });
    return timelineElements;
}
export interface timelineElement {
    category: string;
    timeline_element: boolean;
    title: string;
    description?: string;
    start_date?: startDate;
    end_date?: number;
    image?: string;
    link?: string;
}
export interface timelineElementSorted {
    name: string;
    data: timelineElement[];
}
export interface startDate {
    startDate: number | null;
}
const timelineArray = processSkills(skills.skills,true);
const skillsArray = processSkills(skills.skills,false);
//console.log(skillsArray);
const uniqueCategories = [...new Set(timelineArray.map(item => item.category))];
console.log(uniqueCategories);
---
<BaseLayout title="Curriculum vitae" sideBarActiveItemID="cv">

<!-- Add more buttons for more categories -->
  <h1 class="text-3xl w-full font-bold">Curriculum vitae</h1>
<!--   {uniqueCategories.map((button) => (
    <HideClassButton
        name={button}
        classname={`timeline__element__category--${button}`
    }/>))} -->
  <br class="mb-10 text-justify"/>
      {timelineArray.map((timelineElement) => (
        <TimeLineElement
          title     = {timelineElement.title}
          company   = {timelineElement.company}
          startDate = {timelineElement.start_date}
          endDate   = {timelineElement.end_date}
          location  = {timelineElement.location}
          text      = {timelineElement.text}
          link      = {timelineElement.link}
          category  = {timelineElement.category}
          class:global= {`timeline__element__category--${timelineElement.category}`}
        />
      ))}

<!-- {
  skillsArray.category.map((skills) => (
    <section class="mb-10" id={skills.name}>
      <h2 class="text-3xl w-full font-bold mb-5">{skills.name}</h2>
      <ul class="list-disc md:columns-5 columns-2 mx-6">
        {skills.map((skill) => (<li>{skill.title}</li>))}
      </ul>
    </section>
  ))
} -->
</BaseLayout>
