---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

import experience from "../content/cv/Experience.json";
import leerstof from "../content/cv/Leerstof.json";
import skills from "../content/cv/Skills.json";


---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Curriculum vitae</div>
  </div>

  <div class="mb-10 text-justify">

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Ervaring</div>
  </div>

  <div class="time-line-container mb-10">

    {experience.werkervaring.map((werkervaring) => (
      <TimeLineElement
          title     = {werkervaring.title}
          company   = {werkervaring.company}
          from      = {werkervaring.from}
          until     = {werkervaring.until}
          location  = {werkervaring.location}
          text      = {werkervaring.text}
        />))}
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Opleidingen</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    {leerstof.opleidingen.map((opleidingen) => (
      <TimeLineElement
          title     = {opleidingen.title}
          company   = {opleidingen.company}
          from      = {opleidingen.from}
          until     = {opleidingen.until}
          location  = {opleidingen.location}
          text      = {opleidingen.text}
      />))}
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Cursussen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {leerstof.cursussen.map((cursussen) => (
    <li>
      <a href={cursussen.link} target="_blank">{cursussen.course}</a>
    </li>))
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Erkenningen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    {experience.Erkenningen.map((erkenningen) => (
    <li>
      <a href={erkenningen.link} target="_blank">{erkenningen.erkenning},{erkenningen.date}</a>
    </li>))
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {skills.softwareSkills.map((skill) => (
      <li>{skill}</li>
    ))}
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Hardware Skills</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {skills.hardwareSkills.map((skill) => (
      <li>{skill}</li>
    ))}
  </ul>
</BaseLayout>
