---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

import skills from "../skills.json";
// Filter the array to only include objects where timelineObject is true
import processSkills from "../scripts/processSkills.ts";

const timelineArray = processSkills(skills.skills,true);
const skillsArray = processSkills(skills.skills,false);
---

<BaseLayout title="Curriculum vitae" sideBarActiveItemID="cv">
  <h1 class="text-3xl w-full font-bold">Curriculum vitae</h1>
  <br class="mb-10 text-justify"/>
  {timelineArray.map((timeline:timelineElementSorted) => (
    <section class="time-line-container mb-10" id={timeline.name}>
      <h2 class="text-3xl w-full font-bold mb-5">{timeline.name}</h2>
      {timeline.data.sort((a: timelineElement, b: timelineElement) => {
        return Number(b.start_date) - Number(a.start_date);
      }).map((timelineElement) => (
        <TimeLineElement
          title     = {timelineElement.title}
          company   = {timelineElement.company}
          startDate = {timelineElement.start_date}
          endDate   = {timelineElement.end_date}
          location  = {timelineElement.location}
          text      = {timelineElement.text}
          link      = {timelineElement.link}
        />
      ))}
    </section>
  ))}

{
  skillsArray.map((skills) => (
    <section class="mb-10" id={skills.name}>
      <h2 class="text-3xl w-full font-bold mb-5">{skills.name}</h2>
      <ul class="list-disc md:columns-5 columns-2 mx-6">
        {skills.data.map((skill) => (<li>{skill.title}</li>))}
      </ul>
    </section>
  ))
}
</BaseLayout>
