---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";

import skills from "src/data/Skills.json";
// Filter the array to only include objects where timelineObject is true
import { processSkills } from "@scripts/processSkills";

const timelineArray = processSkills(skills.wijsheid);

const skillsArray = [
  { name: 'Software-skills', data: skills.softwareSkills },
  { name: 'Hardware-skills', data: skills.hardwareSkills }
];

---

<BaseLayout title="Curriculum vitae" sideBarActiveItemID="cv">
  <h1 class="text-3xl w-full font-bold">Curriculum vitae</h1>
  <br class="mb-10 text-justify"/>
  {timelineArray.map((timeline:timelineElementSorted) => (
    <section class="time-line-container mb-10" id={timeline.name}>
      <h2 class="text-3xl w-full font-bold mb-5">{timeline.name}</h2>
      {timeline.data.sort((a: timelineElement, b: timelineElement) => {
        return Number(b.startDate) - Number(a.startDate);
      }).map((timelineElement) => (
        <TimeLineElement
          title     = {timelineElement.title}
          company   = {timelineElement.company}
          startDate = {timelineElement.startDate}
          endDate   = {timelineElement.endDate}
          location  = {timelineElement.location}
          text      = {timelineElement.text}
          link      = {timelineElement.link}
        />
      ))}
    </section>
  ))}

{
  skillsArray.map((skill) => (
    <section class="mb-10" id={skill.name}>
      <h2 class="text-3xl w-full font-bold mb-5">{skill.name}</h2>
      <ul class="list-disc md:columns-5 columns-2 mx-6">
        {skill.data.map((skill) => (<li>{skill}</li>))}
      </ul>
    </section>
  ))
}
</BaseLayout>
