---
import Layout from "@/layouts/Layout.astro";
// noinspection ES6UnusedImports,TypeScriptCheckImport
import { Image } from 'astro:assets';
import {PERSOONLIJKE_INFO} from "@/config";
import Icon from "@/Assets/icons/Icon.astro";
import { getAge} from "@/scripts/utils";
import { StoryblokStoryManager, StoryblokAssetManager } from "@/scripts/storyBlokUtil";
import {CapitalizeFirst} from "@/scripts/stringConverters";
import ExpandedDetailCard from "@/components/Cards/ExpandDetailCard.astro";

const ssm = new StoryblokStoryManager();
const { persoon = PERSOONLIJKE_INFO } = Astro.props
const blog = await ssm.createCollectionLists('blog');

let overviewList = []
for (const post of blog) {
    const iconSize = 80;
const image = new StoryblokAssetManager(post.image.filename);
image.setNewResolution(0,iconSize);
image.setHeightFromAspect();
    overviewList.push({
        
        title: CapitalizeFirst(post.title.length > 35 ? post.title.toLowerCase().slice(0, 32) + '...' : post.title.toLowerCase()),
        description: post.description,
        icon_url: image.obj.url, 
        icon_size: iconSize,
        className: "item"
        
    })
}



---
<Layout title="">
    <div slot="top" >
        <hgroup>
            <p >Moiii 👋 Ik ben</p>
            <h1 >{persoon.Voornaam} {persoon.Achternaam}</h1>
            <p >Tech enthousiast</p>
        </hgroup>

        <text>
            Van harte welkom op mijn kleine stukje internet. Hier deel ik zo nu en
            dan wat van mijn passies. Ik ben een {getAge(persoon.Geboortejaar, persoon.GeboorteMaand, persoon.GeboorteDag)}-jarige
            techneut die zich graag bezighoudt met allerlei soorten techniek, zowel
            fysiek als digitaal. Mijn focus ligt vooral op lasertechnologie,
            CNC-machines en ICT-infrastructuur.
        </text>

        <div >
            <hr/>
            <a href=`mailto:${persoon.Email}` target='_blank' class="default__icon_size"
            ><Icon icon="IconEmail" class="default__icon_size"/></a
            >
        </div>
    </div>
    <ul class="subcontainer_list">
        {overviewList.map(card => (
                <ExpandedDetailCard 
                title={card.title}
                description={card.description}
                icon_url={card.icon_url}
                icon_size={card.icon_size}
                className={card.className}
                />
        ))}   
        <!--<ListOfEDCards cards={blog}/>-->
    </ul>
</Layout>

<style>
    a.linkable-blog-cards:link, a.linkable-blog-cards:visited,a.linkable-blog-cards:hover,a.linkable-blog-cards:active {
        color: var(--color__text);
        text-decoration: none;
    }
    .sub-container_list {
        padding: 1rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        transition: all 0.5s ease;
        @media (max-width: 575px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
</style>