---
import Layout from "@/layouts/Layout.astro";
import {Image} from "astro:assets";
import {PERSOONLIJKE_INFO} from "@/config";
import Icon from "@/Assets/icons/Icon.astro";
import { getAge} from "@/scripts/utils";
import { StoryblokStoryManager } from "@/scripts/storyBlokUtil";
import HorizontalCard from "@/components/Old/HorizontalCard.astro";

import {story} from "@/scripts/interfaces";
import {CapitalizeFirst} from "../scripts/stringConverters";
import ExpandDetailCard from "../components/Cards/ExpandDetailCard.astro";

const ssm = new StoryblokStoryManager();
const { persoon = PERSOONLIJKE_INFO } = Astro.props
const today = new Date();

let blog = [];

blog = await ssm.createCollectionLists('blog');
const staticImageWidth = 150
---

<Layout title="">
    <div slot="top" >
        <hgroup>
            <p >Moiii 👋 Ik ben</p>
            <h1 >{persoon.Voornaam} {persoon.Achternaam}</h1>
            <p >Tech enthousiast</p>
        </hgroup>

        <text>
            Van harte welkom op mijn kleine stukje internet. Hier deel ik zo nu en
            dan wat van mijn passies. Ik ben een {getAge(persoon.Geboortejaar, persoon.GeboorteMaand, persoon.GeboorteDag)}-jarige
            techneut die zich graag bezighoudt met allerlei soorten techniek, zowel
            fysiek als digitaal. Mijn focus ligt vooral op lasertechnologie,
            CNC-machines en ICT-infrastructuur.
        </text>

        <div >
            <hr/>
            <a href=`mailto:${persoon.Email}` target='_blank' class="default__icon_size"
            ><Icon icon="IconEmail" class="default__icon_size"/></a
            >
        </div>
    </div>
    <ul class="subcontainer_list">
        {blog.map((post) => {
            return (
                    <a href={post.slug} target="_self">                    
                    <ExpandDetailCard
                            class="item"
                            icon_url={post.image.filename}
                            icon_size="80"
                            title={CapitalizeFirst(post.title.length > 35 ? post.title.toLowerCase().slice(0, 32) + '...' : post.title.toLowerCase())}
                            description={post.description}
                    >
                    </ExpandDetailCard>
                    </a>
            );
        })}
    </ul>
</Layout>

<style>
    .subcontainer_list {
        padding: 1rem;        
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        @media (max-width: 575px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
</style>