---
import Layout from "@/layouts/Layout.astro";
import {Image} from "astro:assets";
import {PERSOONLIJKE_INFO} from "@/config";
import Icon from "@/Assets/icons/Icon.astro";
import { getAge} from "@/scripts/utils";
import { StoryblokAssetManager } from "@/scripts/storyBlokUtil";
import HorizontalCard from "@/components/Old/HorizontalCard.astro";

import {story} from "@/scripts/interfaces";

const sta = new StoryblokAssetManager();
const { persoon = PERSOONLIJKE_INFO } = Astro.props
const today = new Date();

let blog = [];

blog = await sta.createCollectionLists('blog');
const staticImageWidth = 150
---

<Layout title="">
    <div slot="top" >
        <hgroup>
            <p >Moiii 👋 Ik ben</p>
            <h1 >{persoon.Voornaam} {persoon.Achternaam}</h1>
            <p >Tech enthousiast</p>
        </hgroup>

        <text>
            Van harte welkom op mijn kleine stukje internet. Hier deel ik zo nu en
            dan wat van mijn passies. Ik ben een {getAge(persoon.Geboortejaar, persoon.GeboorteMaand, persoon.GeboorteDag)}-jarige
            techneut die zich graag bezighoudt met allerlei soorten techniek, zowel
            fysiek als digitaal. Mijn focus ligt vooral op lasertechnologie,
            CNC-machines en ICT-infrastructuur.
        </text>

        <div >
            <hr/>
            <a href=`mailto:${persoon.Email}` target='_blank' class="default__icon_size"
            ><Icon icon="IconEmail" class="default__icon_size"/></a
            >
        </div>
    </div>
    <ul class="subcontainer_list">
        {blog.map((post) => {
            const imageData = sta.getRezAndAspectFromStoryAssetFilename(post.image.filename)
            const newHeight = imageData.aspectRatio * staticImageWidth;
            return (
                <HorizontalCard
                    title={post.title}
                    tags={post.tags}
                    img={post.image.filename}
                    imageAlt={post.image.alt}
                    imageWidth={staticImageWidth}
                    imageHeight={newHeight}
                    desc={post.description}
                    url={post.slug}
                    target="_self"
                    badge={post.badge}
                />
            );
        })}
    </ul>
</Layout>

<style>
    .subcontainer_list {
        padding: 0;
    }
</style>