---
import BaseLayout from '@layouts/BaseLayout.astro';
import getAge from '@scripts/getAge';
import { getCollection } from 'astro:content';
import { PERSOONLIJKE_INFO } from 'src/config';
import Section from '@components/Section.astro';

const { persoon = PERSOONLIJKE_INFO } = Astro.props
const projecten = (await getCollection('projecten')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);
const blog = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);

const geboorteDatum = new Date(persoon.Geboortejaar, persoon.GeboorteMaand, persoon.GeboorteDag);

---

<BaseLayout sideBarActiveItemID='home'>
  <div class='pb-12 mt-5'>
    <hgroup>
      <p class='text-xl py-1'>Moii 👋 Ik ben</p>
      <h1 class='text-5xl font-bold'>{persoon.Voornaam} {persoon.Achternaam}</h1>
      <p class='text-3xl py-3'>Tech enthousiast</p>
      <div class='py-2'></div>
    </hgroup>

    <text class='text-lg'>
      Van harte welkom op mijn kleine stukje internet. Hier deel ik zo nu en
      dan wat van mijn passies. Ik ben een {getAge(geboorteDatum)}-jarige
      techneut die zich graag bezighoudt met allerlei soorten techniek, zowel
      fysiek als digitaal. Mijn focus ligt vooral op lasertechnologie,
      CNC-machines en ICT-infrastructuur.
    </text>

    <div class='mt-8'>
      <hr/>
      <a class='btn' href=`mailto:${persoon.Email}` target='_blank'
        ><i class='fas fa-envelope-open'></i> contact!</a
      >
    </div>
  </div>
  <Section title="De laatste projecten"     posts={projecten} />
  <Section title="Het laaste van het blog"  posts={blog} />
</BaseLayout>
