---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { useStoryblokApi } from '@storyblok/astro'
import { PERSOONLIJKE_INFO } from '@/config.ts';
import Section from '@/components/ListOfCards.astro';
const storyblokApi = useStoryblokApi()
const { persoon = PERSOONLIJKE_INFO } = Astro.props

const getAge = (y: number, m: number, d: number) => {
    const t = new Date(), b = new Date(y, m - 1, d);
    let a = t.getFullYear() - b.getFullYear();
    return t.getMonth() - b.getMonth() < 0 || (t.getMonth() - b.getMonth() === 0 && t.getDate() < b.getDate()) ? --a : a;
  }

async function  createCollectioLists(collection: string) {
  const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: `${collection}/`,
  is_startpage: false
})
interface story {
  name: string;
  content: {
    badge: string;
    description: string;
    heroImage: string;
  };
  full_slug: string;
  published_at: string;
  tag_list: string;
}

const pages = data.stories.map((story: story) => {
  return {
    title: story.name,
    badge: story.content.badge,
    slug: story.full_slug,
    description: story.content.description,
    image: story.content.heroImage,
    date: story.published_at,
    tags: story.tag_list,
  }
})
return pages
}
let blog = [];

blog = await createCollectioLists('blog');
export const prerender = true;
---

<BaseLayout sideBarActiveItemID='home'>
  <div class='pb-12 mt-5'>
    <hgroup>
      <p class='text-xl py-1'>Moii 👋 Ik ben</p>
      <h1 class='text-5xl font-bold'>{persoon.Voornaam} {persoon.Achternaam}</h1>
      <p class='text-3xl py-3'>Tech enthousiast</p>
      <div class='py-2'></div>
    </hgroup>

    <text class='text-lg'>
      Van harte welkom op mijn kleine stukje internet. Hier deel ik zo nu en
      dan wat van mijn passies. Ik ben een {getAge(persoon.Geboortejaar, persoon.GeboorteMaand, persoon.GeboorteDag)}-jarige
      techneut die zich graag bezighoudt met allerlei soorten techniek, zowel
      fysiek als digitaal. Mijn focus ligt vooral op lasertechnologie,
      CNC-machines en ICT-infrastructuur.
    </text>

    <div class='mt-8'>
      <hr/>
      <a class='btn' href=`mailto:${persoon.Email}` target='_blank'
        ><i class='fas fa-envelope-open size-5'></i> contact!</a
      >
    </div>
  </div>
  {blog && <Section listTitle="Het laaste van het blog" posts={blog} start="0" end="3"/> }
</BaseLayout>
