---
const { title, img, desc, url, badge, tags, target} = Astro.props;
import BadgeComponent from "@/components/vue/badge.vue";

const imageWidth = 300;
import { Image } from "astro:assets"
---

<div
  class="rounded-2xl
        bg-base-100
        hover:bg-base-200
        hover:shadow-[0px_0px_15px_0px]
        hover:shadow-[#0f0e0e]
        transition
        ease-in-out
        hover:scale-[105%]"
>
  <a href={url} target={target} data-astro-prefetch>
    <div class="hero-content flex-col md:flex-row">
          <Image src={`${img}/m/0x${imageWidth}/filters:quality(80):format(webp)`} width={imageWidth} height={500} alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
      <div class="grow w-full">
        <h1 class="text-xl : unknownfont-bold">
          {title}
          {badge &&<BadgeComponent client:idle text={badge} classes="my-1" outline="false" />}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <>
        <div class="card-actions justify-end">
          {
          tags &&
            tags.map((tag: string) => <BadgeComponent client:idle text={tag} classes="my-1" outline="true" />)
          }
        </div>
      </div>
    </div>
  </a>
</div>
