---
// Import your components at the top of the file
import HorizontalCard from './HorizontalCard.astro';
const { listTitle, posts, start, end } = Astro.props;
interface published_at {
  published_at: string | number | Date;
}
const sortedPosts = posts.sort((a: published_at, b: published_at) => {
  const dateA = new Date(a.published_at);
  const dateB = new Date(b.published_at);

  if (isNaN(dateA.getTime()) || isNaN(dateB.getTime())) {
    return 0;
  }

  return dateB.getTime() - dateA.getTime();
}).slice(start, end);
interface post {
  title: string;
  image: {
    filename: string;
    alt: string;
  };
  description: string;
  slug: string;
  tags: string[];
  badge: string;
}
---

<section>
  <h2 class='text-3xl w-full font-bold mb-2 text-rst__primary dark:text-rst__secondary'>{listTitle}</h2>
  {
    sortedPosts.map((post: post) => (
      <>
        <HorizontalCard
          title={post.title}
          img={post.image.filename}
          imageAlt={post.image.alt}
          desc={post.description}
          url={`/${post.slug}`}
          target='_self'
          tags={post.tags}
          badge={post.badge}
        />
      </>
    ))
  }
</section>