---

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/navigation/Header.astro";
import Footer from "@/components/Footer.astro";
import SideBar from "@/components/navigation/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/config.ts";

const { image, sideBarActiveItemID, slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={image} />
  </head>
  <body class="bg-rst__base dark:text-rst__secondary">
    <div class=" drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <Header title={SITE_TITLE} breadcrumb={slug} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      <SideBar sideBarActiveItemID={sideBarActiveItemID} transition:persist/>
    </div>
  </body>
</html>
<style ></style>